<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>知识图谱-百度大脑</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="百度大脑,Baidu Brai,百度AI,百度大脑开放平台,知识图谱">
    <meta name="description" content="知识图谱，构建宏大的知识网络，映射世间万物以及它们之间的关系，并对某些特定垂类进行深度挖掘，全面刻画实体属性及特征">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/dist/css/knowledgeGraph.css">
    {%include  'views/common/tongji.html'%}
</head>
<body>
{%include  'views/common/navigation.html'%}

<section class="callout large">
    <div class="row">
        <div class="foreground"></div>
        <div class="callout-content">
            <h1>知识图谱</h1>
            <p class="lead">构建宏大的知识网络，映射世间万物以及它们之间的关系，并对某些特定垂类进行深度挖掘，全面刻画实体属性及特征</p>
            <a href="http://hetu.baidu.com/api/?categoryId=196" target="_blank" class="button start-button">平台接口 ></a>
        </div>
    </div>
</section>

<section class="tech-introduction content-section">
    <div class="row">
        <h2 class="columns medium-12">技术介绍</h2>
    </div>
    <div class="row">
        <div class="columns content-item" id="tech-intro-1">
            <div class="content-icon"></div>
            <h3>知识数据开放schema</h3>
            <p>知识表示技术，用以建模、维护领域知识的schema系统，全面兼容RDF，OWL，Schema.org 等协议</p>
            <div class="content-consult">
                <a href="http://kgs.baidu.com" target="_blank" class="button">查看详情</a>
                <a href="http://kgs.baidu.com/docs/document/schema_development_guide" target="_blank" class="button">技术体验</a>
            </div>
        </div>
        <div class="columns content-item" id="tech-intro-2">
            <div class="content-icon"></div>
            <h3>网页结构化数据抽取</h3>
            <p>高自动化、低成本的全网结构化数据抽取技术平台</p>
            <div class="content-consult">
                <a href="http://hetu.baidu.com/api/platform/index?platformId=336" target="_blank" class="button">查看详情</a>
                <a href="http://pie.baidu.com" target="_blank" class="button">技术体验</a>
            </div>
        </div>
        <div class="columns content-item" id="tech-intro-3">
            <div class="content-icon"></div>
            <h3>知识数据清洗</h3>
            <p>支持文本去噪、属性归一，拆分等多种知识数据清洗技术平台</p>
            <div class="content-consult">
                <a href="http://kg.baidu.com/flow/" target="_blank" class="button">查看详情</a>
                <a href="http://refine.baidu.com/" target="_blank" class="button">技术体验</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="columns content-item" id="tech-intro-4">
            <div class="content-icon"></div>
            <h3>知识图谱检索系统</h3>
            <p>对知识数据建立图索引，整合图检索，文本检索，支持对海量知识数据的高性能检索服务</p>
            <div class="content-consult">
                <a href="http://kgi.baidu.com/qa/index" target="_blank" class="button">查看详情</a>
                <a href="http://kg.baidu.com/data/order" target="_blank" class="button">技术体验</a>
            </div>
        </div>
        <div class="columns content-item" id="tech-intro-5">
            <div class="content-icon"></div>
            <h3>语义分析</h3>
            <p>根据人群对于实体的评论，抽取核心关键词，并通过情感分析理解正负向评价，从人的情感角度描述实体特征</p>
            <div class="content-consult">
                <a href="http://gravity.baidu.com/" target="_blank" class="button">查看详情</a>
                <a href="http://gravity.baidu.com/index.html#!/sample/" target="_blank" class="button">技术体验</a>
            </div>
        </div>
    </div>
</section>
<section class="tech-advantage content-section">
    <div class="row">
        <h2 class="columns medium-12">技术优势</h2>
    </div>
    <div class="row">
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>生产流程全</h3>
            <p>全周期覆盖知识数据的运营、抽取、清洗、融合、建图索引，推理及计算等从生产到在线应用的全环节</p>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>计算能力强</h3>
            <p>百度知识图谱系统是一个能够支撑百亿级的离线数据计算和处理，以及亿级别在线计算能力的工业系统</p>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>通用可定制</h3>
            <p>强大的通用基础能力和灵活的领域定制能力，保证不同领域快速构建知识数据的基线能力并灵活支持对数据和应用需求的定制要求</p>
        </div>
    </div>
    <div class="row">
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>数据丰富</h3>
            <p>基于全网多源知识获取和更新，覆盖67个行业或领域，5.7亿实体，逾百亿知识条目，实体标签规模1.3亿，人群特征5千万</p>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>多元数据整合</h3>
            <p>整合人群画像、到店大数据、UGC数据及丰富的线下标签，补充实体的标签体系，刻画全面生动的实体特征，并体现情感内容</p>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>实体关系挖掘</h3>
            <p>通过线上、线下数据融合挖掘实体与实体间关联，并利用已有实体关系进行实体语义向量化，构建并丰富实体与实体关系的知识体系网络</p>
        </div>
    </div>
</section>
<section class="user-case-carousel content-section">
    <div class="row">
        <h2 class="columns medium-12">应用案例</h2>
    </div>
    <div id="carousel-container"></div>
</section>
{%include  'views/common/bottomInfo.html'%}
<script src="/dist/js/knowledgeGraph.bundle.js"></script>

</body>
</html>