<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>自然语言-百度大脑</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="百度大脑,机器学习,大数据,图像识别,语音识别">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/dist/css/naturalLanguage.css">
</head>
<body>
{%include  'views/common/navigation.html'%}

<section class="callout large">
    <div class="row">
        <div class="foreground"></div>
        <div class="callout-content">
            <h1>自然语言</h1>
            <p class="lead">基于自然语言处理技术，对人类自然语言进行分析、理解、生成、翻译，实现自然的人机对话交互</p>
            <a href="http://hetu.baidu.com/api/?categoryId=195" target="_blank" class="button start-button">平台接口 ></a>
        </div>
    </div>
</section>

<section class="tech-introduction content-section">
    <div class="row">
        <h2 class="columns medium-12">技术介绍</h2>
    </div>
    <div class="row">
        <div class="columns content-item" id="tech-intro-1">
            <div class="content-icon"></div>
            <h3>NLP Cloud</h3>
            <p>对自然语言的基础分析与理解，包括分词、词性标注、专名识别、语义依存分析、Query理解、篇章理解与自动摘要、情感分析等</p>
            <div class="content-consult">
                <a href="http://nlp.baidu.com/nlpc_wiki" target="_blank" class="button">查看详情</a>
                <a href="http://nlp.baidu.com/platform/?r=nlpc/online"  target="_blank" class="button">技术体验</a>
            </div>
        </div>
        <div class="columns content-item" id="tech-intro-2">
            <div class="content-icon"></div>
            <h3>机器翻译</h3>
            <p>多语言自动翻译，支持全球27种热门语言互译，覆盖702个翻译方向；并支持文本、语音、图像等不同的翻译交互方式</p>
            <div class="content-consult">
                <a href="http://api.fanyi.baidu.com/" target="_blank" class="button">查看详情</a>
                <a href="http://api.fanyi.baidu.com/api/trans/product/index"  target="_blank" class="button">技术体验</a>
            </div>
        </div>
    </div>
</section>
<section class="tech-advantage content-section">
    <div class="row">
        <h2 class="columns medium-12">技术优势</h2>
    </div>
    <div class="row">
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>技术覆盖广</h3>
            <p>全面覆盖语言处理技术，并充分融合计算平台、知识、算法的优势</p>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>算法效果优</h3>
            <p>技术紧盯实际应用，应用效果反馈助推技术提升； 实现对自然语言的深度理解、交互、生成、精准翻译等</p>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>接口多样化</h3>
            <p>Web/API/SDK多种接口，满足不同业务场景调用需求</p>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>技术标准化</h3>
            <p>标准统一的平台化服务，稳定可靠的支持千亿量级超大规模请求</p>
        </div>
    </div>
</section>
<section class="user-case-carousel content-section">
    <div class="row">
        <h2 class="columns medium-12">应用案例</h2>
    </div>
    <div id="carousel-container"></div>
</section>
{%include  'views/common/bottomInfo.html'%}
<script src="/dist/js/naturalLanguage.bundle.js"></script>

</body>
</html>