<div class="ai-modal" id="<%= id %>">
    <header class="modal-header">
        <h3>{{title}}</h3>
        <a class="modal-x"></a>
    </header>
    <section class="modal-content">
    </section>
</div>
