@import '../../common/helper.less';
@import '../../common/global.less';
@import '../../common/tech-page.less';

@banner: url(../../../../ai_images/support/news/news-list/banner.png);
@icons: none;
@intro-bg: none;
@case-icons: none;


// 前缀
@prefix: news;

@font-light-gray: #999;
@font-light-black: #333;
@font-gray: #666;

.@{prefix} {
    &-title {
        padding: 10px 0;
        font-size: 24px;
        color: @font-light-black;
    }

    &-info-split {
        margin: 20px 0;
        border: 0;
        height: 1px;
        background-color: #f0f0f0;
    }

    &-info-container {
        font-size: 0;
        .time {
            margin-right: 18px;
            font-size: @font-size-1;
            color: #999;
        }
        .pv {
            font-size: @font-size-1;
            color: #999;
        }
        .tag-list {
            margin-top: 8px;
            a {
                line-height: 23px;
                border: 1px solid #f2f2f2;
                border-radius: 3px;
                margin-right: 10px;
                display: inline-block;
                white-space: nowrap;
                font-size: @font-size-1;
                color: #999;
                padding: 0 10px;
                &:hover {
                    color: #0073eb;
                    border-color: #0073eb;
                }
            }
        }
    }
}
.ai-platform {
    .@{prefix}-main {
        margin: 40px auto 22px auto;
        width: 800px;
        padding: 0;

        .@{prefix}-content {
            font-size: @font-size-1;
            color: @font-gray;
            line-height: 24px;
            min-height: 200px;
            div,
            p {
                margin-bottom: 8px;
            }

            img {
                margin: 14px auto;
            }
        }
    }
}
.tech-section {
    h2 {
        padding-top: 30px;
    }

    // TODO 权重太乱了
    &.tech-case {
        .case-list {
            >li {
                p {
                    width: 800px;
                    margin: 0 auto;
                }
            }
        }
    }

    &.tech-case {
        .case-item .case-icon {
            background-size: 800px / 2 270px / 2;
        }
        .case-item:nth-child(1) {
            .icon(url(../../../../ai_images/technology/nlp-lexer/case-1.png), center, center);

        }
        .case-item:nth-child(2) {
            .icon(url(../../../../ai_images/technology/nlp-lexer/case-2.png), center, center);
        }
        .case-item:nth-child(3) {
            .icon(url(../../../../ai_images/technology/nlp-lexer/case-3.png), center, center);
        }

        .case-indicator {
            & > li:nth-child(1) {
                .icon(@case-icons, -5px, -5px);
            }
            & > li:nth-child(2) {
                .icon(@case-icons, -155px, -5px);
            }
            & > li:nth-child(3) {
                .icon(@case-icons, -305px, -5px);
            }
        }
        .case-list {
            & > li {
                padding-top: 88px;

                .case-icon {
                    width: auto;
                }

                &:nth-child(1) {
                    .case-icon {
                        background: url(../../../../ai_images/technology/nlp-comment/case-logo-1.png) no-repeat center center;
                    }
                }

                &:nth-child(2) {
                    .case-icon {
                        background: url(../../../../ai_images/technology/nlp-comment/case-logo-2.png) no-repeat center center;
                    }
                }
            }
        }
    }
}
