<div class="tech-section tech-banner">
    <div class="ai-container">
        <div class="tech-banner-title">
            百度语音
        </div>
        <div class="tech-banner-info">
            提供业界领先的多场景语音技术，输出语音识别和语音合成能力<br>
            成为您应用的耳朵与嘴
        </div>
        <div class="tech-banner-btn-list">
            <a role="button"
               class="btn-primary media ai-redirect"
               target="_blank"
               href="https://console.bce.baidu.com/ai/?fromai=1#/ai/speech/overview/index">
                立即使用
            </a>
            <a role="button"
               class="btn-other media"
               href="
               {%if $src eq Null%}
               /docs#/ASR-Android-SDK/
               {%else%}
               https://cloud.baidu.com/doc/SPEECH/index.html
               {%/if%}">
                技术文档
            </a>
        </div>
    </div>
</div>

<div class="tech-section tech-catalog">
    <div class="ai-container">
        <div class="tech-catalog-title">产品功能</div>
        <div class="tech-catalog-intro">依托自然语言处理能力，可将声音与文字信息进行相互转换，可用于智能交互、深度问答、内容建模、用户画像建模、语义分析等场景</div>
        <div class="tech-catalog-gallery">
            <div class="tech-prod-container">
                <div class="tech-prod-info">
                    <div class="tech-prod-name">语音识别</div>
                    <div class="tech-prod-intro">
                        将声音转为文字，精度高速度快支持多场景智能语音交互
                    </div>
                    <div class="tech-prod-panel">
                        <a class="ai-redirect"
                           href="https://console.bce.baidu.com/ai/?fromai=1#/ai/speech/overview/index"
                           target="_blank">立即使用</a>
                        <a href="http://ai.baidu.com/tech/speech/asr">了解详情</a>
                    </div>
                </div>
                <div class="tech-prod-poster tech-prod-poster-1"></div>
            </div>
            <div class="tech-prod-container">
                <div class="tech-prod-info">
                    <div class="tech-prod-name">语音合成</div>
                    <div class="tech-prod-intro">
                        基于业界领先的深度神经网络技术将文字转为声音，让您的应用开口说话
                    </div>
                    <div class="tech-prod-panel">
                        <a class="ai-redirect"
                           href="https://console.bce.baidu.com/ai/?fromai=1#/ai/speech/overview/index"
                           target="_blank">立即使用</a>
                        <a href="http://ai.baidu.com/tech/speech/tts">了解详情</a>
                    </div>
                </div>
                <div class="tech-prod-poster-2"></div>
            </div>
            <div class="tech-prod-container">
                <div class="tech-prod-info">
                    <div class="tech-prod-name">语音唤醒</div>
                    <div class="tech-prod-intro">
                        支持特定语音多指令操作轻量级，低功耗，快速唤醒您的应用，打造流畅对话
                    </div>
                    <div class="tech-prod-panel">
                        <a href="http://ai.baidu.com/tech/speech/wake">了解详情</a>
                    </div>
                </div>
                <div class="tech-prod-poster-3"></div>
            </div>
        </div>
    </div>
</div>

{%literal%}
<div class="tech-section tech-case">
    <div class="tech-case-list">
        <div class="tech-case-item tech-case-item-1 tech-case-active">
            <div class="ai-container">
                <div class="tech-case-heading">应用场景</div>
                <div class="tech-case-item-title">智能导航</div>
                <div class="tech-case-item-info">
                    <div>自驾出行时，结合地图指示全程语音导航，方便安全</div>
                    <div>业务痛点：驾驶过程中，频繁查看地图会增加驾驶风险</div>
                    <div>如何解决：利用语音合成技术，将导航内容进行语音播报，摆脱导航对于双眼的束缚，有效保障交通安全，降低事故风险</div>
                    <div>主要服务：<a href="http://ai.baidu.com/speech/tts">语音合成</a></div>
                    <div class="tech-case-coop">
                        <div>合作案例:</div>
                        <img src="../../../ai_images/technology/speech/customer-1-1.png" alt="">
                        <div>
                            百度地图
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tech-case-item tech-case-item-2">
            <div class="ai-container">
                <div class="tech-case-heading">应用场景</div>
                <div class="tech-case-item-title">文学阅读</div>
                <div class="tech-case-item-info">
                    <div>利用百度语音合成技术将小说文学作品进行有情感的朗读，多种设置，流畅清晰，解放双眼，畅听世界</div>
                    <div>业务痛点：阅读文章时，长时间占用眼睛和双手，造成双眼疲劳，且无法同时进行其他事情</div>
                    <div>如何解决：利用百度语音合成技术，对小说文学作品、新闻资讯报道等进行高质量的朗读，摆脱阅读对双眼双手的束缚</div>
                    <div>主要服务：<a href="http://ai.baidu.com/speech/tts">语音合成</a></div>
                    <div class="tech-case-coop">
                        <div>合作案例:</div>
                        <img src="../../../ai_images/technology/speech/customer-2-1.png" alt="iReader">
                        <div>iReader</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tech-case-item tech-case-item-3">
            <div class="ai-container">
                <div class="tech-case-heading">应用场景</div>
                <div class="tech-case-item-title">应用助手</div>
                <div class="tech-case-item-info">
                    <div>语音输入代替键盘输入，提升搜索效率</div>
                    <div>业务痛点：儿童和老人使用拼音输入较为不便，生僻字拼音输入较为复杂</div>
                    <div>如何解决：手机百度可以通过用户语音输入搜索关键词，直接匹配出相应搜索结果，利用百度语音识别技术进行搜索的效率是拼音输入搜索的1.83倍</div>
                    <div>主要服务：<a href="http://ai.baidu.com/speech/asr">语音识别</a></div>
                    <div class="tech-case-coop">
                        <div>合作案例:</div>
                        <img src="../../../ai_images/technology/speech/case-logo-4.png">
                        <div>手机百度</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tech-case-option">
        <div class="tech-case-option-btn tech-case-option-btn-1 tech-case-active">
            智能导航
        </div>
        <div class="tech-case-option-btn tech-case-option-btn-2">
            文学阅读
        </div>
        <div class="tech-case-option-btn tech-case-option-btn-3">
            应用助手
        </div>
    </div>
</div>
{%/literal%}

<div class="ai-container tech-section tech-feature">
    <div class="tech-feature-title">产品优势</div>
    <div class="tech-feature-list tech-clear">
        <div class="tech-feature-item tech-feature-shadow">
            <div class="tech-feature-icon tech-feature-icon-1"></div>
            <div class="tech-feature-desc">
                <div class="tech-feature-desc-title">使用方式灵活</div>
                <div class="tech-feature-desc-info">
                    支持Android、iOS以及全平台的REST API方式调用，提供多垂类识别，多语言、多音色合成
                </div>
            </div>
        </div>
        <div class="tech-feature-item tech-feature-shadow">
            <div class="tech-feature-icon tech-feature-icon-2"></div>
            <div class="tech-feature-desc">
                <div class="tech-feature-desc-title">效果表现优秀</div>
                <div class="tech-feature-desc-info">提供基于百度大脑的业界顶级声学模型和语音模型，效果行业领先，为业务产品营造顺畅体验</div>
            </div>
        </div>
        <div class="tech-feature-item tech-feature-shadow">
            <div class="tech-feature-icon tech-feature-icon-3"></div>
            <div class="tech-feature-desc">
                <div class="tech-feature-desc-title">离线在线融合模式</div>
                <div class="tech-feature-desc-info">
                    根据当前用户网络状况，自动判断使用本地引擎还是云端引擎进行处理，可以兼顾速度及流量消耗
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tech-section tech-guide">
    <div class="tech-guide-title">使用指南</div>
    <div class="ai-container">
        <div class="tech-guide-links">
            <a href="http://ai.baidu.com/docs">新手指南</a>
            <a href="http://ai.baidu.com/docs#/ASR-Android-SDK/">技术文档</a>
            <a href="http://ai.baidu.com/sdk#sdk-category-bs">SDK下载</a>
        </div>
        <div class="tech-guide-route">
            <div class="tech-guide-step">
                <div class="tech-guide-step-num">1</div>
                <div class="tech-guide-step-name">新手入门</div>
            </div>
            <div class="tech-guide-step">
                <div class="tech-guide-step-num">2</div>
                <div class="tech-guide-step-name">创建应用</div>
            </div>
            <div class="tech-guide-step">
                <div class="tech-guide-step-num">3</div>
                <div class="tech-guide-step-name">获取密钥</div>
            </div>
            <div class="tech-guide-step">
                <div class="tech-guide-step-num">4</div>
                <div class="tech-guide-step-name">生成签名</div>
            </div>
            <div class="tech-guide-step">
                <div class="tech-guide-step-num">5</div>
                <div class="tech-guide-step-name">启动开发</div>
            </div>
        </div>
    </div>
</div>

{%if $userInfo eq Null%}
<div class="tech-section get-started tech-free">
    <div class="ai-container">
        <div class="tech-free-title">立即获取免费API Key</div>
        <div class="tech-free-info">现在试用，获取免费API Key，免费调用各项开放能力API</div>
        <div class="tech-free-btn">
            <a role="button"
               class="btn-primary large ai-redirect"
               target="_blank"
               href="https://console.bce.baidu.com/ai/?fromai=1#/ai/speech/overview/index">
                免费试用
            </a>
        </div>
    </div>
</div>
{%/if%}
