<form id="consult-form">
    <p>您希望咨询的技术：（单选）</p>
    <div>
        <label>
            <select name="tech">
                <option value="OCR文字识别" selected>OCR文字识别</option>
                <option value="人脸识别">人脸识别</option>
                <option value="黄反识别">黄反识别</option>
                <option value="语音技术">语音技术</option>
                <option value="NLP自然语言处理">NLP自然语言处理</option>
                <option value="用户画像">用户画像</option>
                <option value="机器学习">机器学习</option>
                <option value="AR增强现实">AR增强现实</option>
                <option value="我不确定">我不确定</option>
            </select>
        </label>
    </div>
    <div>
        <input type="text" maxlength="50" placeholder="请输入您的公司/单位名称（必填）" name="company">
    </div>
    <div>
        <input type="text" maxlength="50" placeholder="请输入您的姓名/称呼（必填）" name="username">
    </div>
    <div>
        <input type="text" maxlength="50" placeholder="请输入您的联系电话：手机/固定电话（必填）" name="phone">
    </div>
    <div>
        <input type="text" maxlength="50" placeholder="请输入其他联系方式：邮箱/QQ等（选填）" name="contactWay">
    </div>
    <div>
        <input type="text" maxlength="100" placeholder="请输入您的公司/单位网址（必填）" name="siteUrl">
    </div>
    <div>
        <textarea placeholder="您的公司的业务简要介绍" maxlength="500" name="business"></textarea>
    </div>
    <div>
        <textarea placeholder="您对AI的需求介绍（必填）" maxlength="500" name="requirement"></textarea>
    </div>
    <div class="qr-code-input">
        <input type="text" maxlength="4" placeholder="请输入正确的验证码" name="code">
        <a>
            <img alt="点击刷新验证码" src="/index/seccode?action=show">
        </a>
    </div>
    <div class="info-warning"></div>
    <div class="form-actions">
        <button type="submit" class="btn-primary submit">提交需求</button>
        <button type="button" class="btn-normal cancel">取消</button>
    </div>
</form>
