<div class="consult-success">
    <div class="alert-image"></div>
    <p>提交成功</p>
    <div class="qr-code-alert">
        <p>您的咨询已提交，我们会及时和您联系！</p>
        <p>欢迎您加关注我们的官方微信，获取最新动态！</p>
        <div class="qr-code-img"></div>
    </div>
</div>
