.bread-crumb {
    font-size: 14px;
    line-height: 14px;
    padding: 30px 50px;
    width: 800px;
    color: #333;
}

.bread-crumb-terminal {
    color: #ccc;
}

.bread-crumb-arrow {
    padding: 0 8px;
    color: #ccc;
}
