@import '../common/initialize.less';

// banner
// @page-name: 单页名称
.banner (@page-name: nlp-word_embedding) {
    box-sizing: border-box;
    height: 400px;
    padding: 50px 0 40px;
    background: url('../../../ai_images/technology/@{page-name}/banner.png') no-repeat center center;
    background-size: 1600px 400px;

    .ai-container {
        box-sizing: border-box;
        padding-left: 100px;
    }

    // banner标题
    &-title {
        width: 480px;
        padding: 50px 0 28px;
        font-size: 42px;
    }

    // banner简介
    &-info {
        width: 496px;
        padding-bottom: 30px;
        font-size: @module-info-size;
        line-height: 2;
        color: @light-black;
    }

    // banner按钮
    .media {
        margin-right: 10px;
    }
}
