/**	
 *  三级页 产品定价样式
 */
.tech-price {
	background: #f4f5f7;
	padding: 30px 0;
	text-align: center;
	&-title {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 30px;
	}
	&-info {
		margin-bottom: 50px;
		font-size: 14px;
		color: #999;
	}
	&-detail {
		padding: 40px 140px;
		box-sizing: border-box;
		background: #fff;
	}
	&-doc {
		display: inline-block;
		vertical-align: top;
		height: 14px;
		margin-left: 10px;
		&-img {
			height: 100%;
		}
	}
	&-img {
		width: 100%;
		margin-bottom: 18px;
	}
	&-desc {
		text-align: left;
		height: 224px;
		&-left {
			float: left;
		}
		&-right {
			float: right;
		}
		&-title {
			padding-top: 30px;
			font-size: 18px;
			text-align: center;
		}
		&-info {
			font-size: 14px;
			color: #999;
			margin: 18px 0;
		}
		&-link {
			color: #0073eb !important;
		}
	}
	&-btns {
		padding-top: 30px;
		.calc,
		.pay{
			display: inline-block;
			vertical-align: top;
			margin: 0 16px;
			font-size: 14px;
			line-height: 38px;
			padding: 0 30px;
			background: #0073eb;
			color: #fff;
		}
	}
}