<footer class="bottom-info">
    <div class="row">
        <ul id="contact-us">
            <li><h2>联系我们</h2></li>
            <li class="contact-hi">
                Hi群：<a href="baidu://addgroup/?id=1516306">1516306</a>
            </li>
            <li class="contact-email">
                邮件咨询：<a href="mailto:ai-bp@baidu.com">ai-bp@baidu.com</a>
            </li>
            <li class="contact-hetu">
                了解平台及接口：<a target="_blank" href="http://hetu.baidu.com/api/area/ai">河图AI专区</a>
            </li>
        </ul>
    </div>
    <hr>
    <div class="row">
        <ul class="platform-links">
            <li><a target="_blank" href="http://idl.baidu.com/">百度深度学习实验室</a></li>
            <li><a target="_blank" href="http://bdl.baidu.com/">百度大数据实验室</a></li>
            <li><a target="_blank" href="http://www.paddlepaddle.org/cn/index.html">PaddlePaddle机器学习平台</a></li>
            <li><a target="_blank" href="http://yuyin.baidu.com/">百度语音</a></li>
            <li><a target="_blank" href="http://api.fanyi.baidu.com/api/trans/product/index">百度翻译开放平台</a></li>
            <li><a target="_blank" href="http://nlp.baidu.com/platform/?r=nlpc/nlpc">自然语言处理云（NLPC）</a></li>
            <li><a target="_blank" href="http://erised.baidu.com/">大数据用户画像</a></li>
            <li><a target="_blank" href="http://kg.baidu.com/">百度知识图谱</a></li>
        </ul>
        <div class="clearfix"></div>
        <ul class="platform-links">
            <li><a target="_blank" href="http://bigdata.baidu.com/">百度大数据</a></li>
            <li><a target="_blank" href="http://idm.baidu.com/">ID-Mapping</a></li>
            <li><a target="_blank" href="http://session.baidu.com/">Global Session(Odin)</a></li>
            <li><a target="_blank" href="http://recsys.baidu.com/">Recsys推荐云平台</a></li>
            <li><a target="_blank" href="http://offlinedata.baidu.com/">到店大数据（谛听）</a></li>
            <li><a target="_blank" href="http://gravity.baidu.com/">大数据知识图谱</a></li>
            <li><a target="_blank" href="http://pie.baidu.com/">PIE网页信息抽取平台</a></li>
            <li><a target="_blank" href="http://kgopen.baidu.com/index">知识图谱开放平台</a></li>
        </ul>
    </div>
    <div class="row copyright">
        <p>© 2016 Baidu 使用百度前必读</p>
    </div>
</footer>