<nav class="top-bar">
    <div class="row">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="site-logo">
                    <a href="/internal/home"><img src="/internal/images/ai-logo.png"></a>
                </li>
                <li><a href="/internal/home" id="home">首页</a></li>
                <li><a href="/internal/ml" id="machine-learning">机器学习</a></li>
                <li><a href="/internal/speech" id="speech">语音技术</a></li>
                <li><a href="/internal/image" id="image">图像技术</a></li>
                <li><a href="/internal/nlp" id="natural-language">自然语言</a></li>
                <li><a href="/internal/userProfile" id="user-profile">用户理解</a></li>
                <li><a href="/internal/kg" id="knowledge-graph">知识图谱</a></li>
            </ul>
        </div>
        <div class="top-bar-links">
            <ul class="menu">
                <li><a href="/internal/news">新闻动态</a></li>
                <li><a href="#contact-us">联系我们</a></li>
                <li><a href="https://ai.baidu.com">外部版</a></li>
            </ul>
        </div>
    </div>
</nav>