<nav class="top-bar">
    <div class="row">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="site-logo">
                    <a href="/home"><img src="/images/ai-logo.png"></a>
                </li>
                <li><a href="/home" id="home">首页</a></li>
                <li><a href="/ml" id="machine-learning">机器学习</a></li>
                <li><a href="/speech" id="speech">语音技术</a></li>
                <li><a href="/image" id="image">图像技术</a></li>
                <li><a href="/nlp" id="natural-language">自然语言</a></li>
                <li><a href="/userProfile" id="user-profile">用户理解</a></li>
                <li><a href="/kg" id="knowledge-graph">知识图谱</a></li>
            </ul>
        </div>
        <div class="top-bar-links">
            <ul class="menu">
                <li><a href="/news">新闻动态</a></li>
                <li><a href="#contact-us">联系我们</a></li>
                <li><a href="/index/">外部版</a></li>
            </ul>
        </div>
    </div>
</nav>