<div class="consult-fail">
    <div class="alert-image"></div>
    <p>出了点小问题，请稍候重试</p>
    <div class="fail-actions">
        <button type="button" class="btn-primary back">返回</button>
        <button type="button" class="btn-normal cancel">取消</button>
    </div>
</div>
