<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>百度大脑</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="百度大脑,人工智能,AI,机器学习,图像识别,语音技术,自然语言,用户理解,知识图谱">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/dist/css/home.css">
</head>
<body>
{%include  'views/common/navigation.html'%}

<section class="callout large">
    <div class="row">
        <div class="foreground">
            <div class="foreground-overlay"></div>
            <div class="foreground-overlay"></div>
            <div class="foreground-overlay"></div>
        </div>
        <ul class="foreground-links">
            <li><a href="/nlp" target="_self">自然语言</a></li>
            <li><a href="/kg" target="_self">知识图谱</a></li>
            <li><a href="/ml" target="_self">机器学习</a></li>
            <li><a href="/userProfile" target="_self">用户理解</a></li>
            <li><a href="/image" target="_self">图像技术</a></li>
            <li><a href="/speech" target="_self">语音技术</a></li>
        </ul>
    </div>
</section>
<section class="news">
    <div class="row">
        <div id="news-broadcast-container"></div>
    </div>
</section>
<section class="tech-introduction content-section">
    <div class="row">
        <h2 class="columns medium-12">技术服务</h2>
    </div>
    <div class="row">
        <div class="columns content-item">
            <a  href="/ml" class="content-icon"></a>
            <h3><a href="/ml">机器学习</a></h3>
            <p>开放易用的深度学习训练平台，为各业务线大数据应用提供算法模型和训练支持</p>
            <ul class="tech-feature">
                <li><a href="/ml#tech-intro-1" target="_self">深度学习训练</a></li>
                <li><a href="/ml#tech-intro-2" target="_self">模型预测和评估</a></li>
                <li><a href="/ml#tech-intro-3" target="_self">数据分析</a></li>
                <li><a href="/ml#tech-intro-4" target="_self">特征工程</a></li>
            </ul>
            <div class="content-more">
                <a href="/ml" target="_blank">了解详情</a>
            </div>
        </div>
        <div class="columns content-item">
            <a href="/speech" class="content-icon"></a>
            <h3><a href="/speech">语音技术</a></h3>
            <p>多场景语音技术，让你的应用长上耳朵、开口说话，让声音成为你的通行证</p>
            <ul class="tech-feature">
                <li><a href="/speech#tech-intro-1" target="_self">语音识别</a></li>
                <li><a href="/speech#tech-intro-2" target="_self">语音合成</a></li>
                <li><a href="/speech#tech-intro-3" target="_self">声纹识别</a></li>
            </ul>
            <div class="content-more">
                <a href="/speech" target="_blank">了解详情</a>
            </div>
        </div>
        <div class="columns content-item">
            <a href="/image" class="content-icon"></a>
            <h3><a href="/image">图像技术</a></h3>
            <p>基于深度学习算法，智能识别图像类型、内容和含义，支持基于图像识别的场景应用</p>
            <ul class="tech-feature">
                <li><a href="/image#tech-intro-1" target="_self">OCR文字识别</a></li>
                <li><a href="/image#tech-intro-2" target="_self">人脸识别</a></li>
                <li><a href="/image#tech-intro-3" target="_self">图像识别</a></li>
                <li><a href="/image#tech-intro-4" target="_self">图像搜索</a></li>
            </ul>
            <div class="content-more">
                <a href="/image" target="_blank">了解详情</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="columns content-item">
            <a href="/nlp" class="content-icon"></a>
            <h3><a href="/nlp">自然语言</a></h3>
            <p>基于自然语言处理技术，对人类自然语言进行分析、理解、生成、翻译，实现自然的人机对话交互</p>
            <ul class="tech-feature">
                <li><a href="/nlp#tech-intro-1" target="_self">NLP Cloud</a></li>
                <li><a href="/nlp#tech-intro-2" target="_self">机器翻译</a></li>
            </ul>
            <div class="content-more">
                <a href="/nlp" target="_blank">了解详情</a>
            </div>
        </div>
        <div class="columns content-item">
            <a href="/userProfile" class="content-icon"></a>
            <h3><a href="/userProfile">用户理解</a></h3>
            <p>融合百度线上线下用户行为，理解用户特征、兴趣偏好、社会关系，支持用户分析和个性化推荐</p>
            <ul class="tech-feature">
                <li><a href="/userProfile#tech-intro-1" target="_self">USER PROFILE</a></li>
                <li><a href="/userProfile#tech-intro-2" target="_self">Global Session</a></li>
                <li><a href="/userProfile#tech-intro-3" target="_self">到店大数据(谛听)</a></li>
                <li><a href="/userProfile#tech-intro-4" target="_self">ID MAPPING & SOCIAL GRAPH</a></li>
                <li><a href="/userProfile#tech-intro-5" target="_self">推荐服务</a></li>
            </ul>
            <div class="content-more">
                <a href="/userProfile" target="_blank">了解详情</a>
            </div>
        </div>
        <div class="columns content-item">
            <a href="/kg" class="content-icon"></a>
            <h3><a href="/kg">知识图谱</a></h3>
            <p>构建宏大的知识网络，映射世间万物以及它们之间的关系，并对某些特定垂类进行深度挖掘，全面刻画实体属性及特征</p>
            <ul class="tech-feature">
                <li><a href="/kg#tech-intro-1" target="_self">知识数据开放schema</a></li>
                <li><a href="/kg#tech-intro-2" target="_self">网页结构化数据抓取</a></li>
                <li><a href="/kg#tech-intro-3" target="_self">知识数据清洗</a></li>
                <li><a href="/kg#tech-intro-4" target="_self">知识图谱检索系统</a></li>
                <li><a href="/kg#tech-intro-5" target="_self">语义分析</a></li>
            </ul>
            <div class="content-more">
                <a href="/kg" target="_blank">了解详情</a>
            </div>
        </div>
    </div>
</section>
<section class="user-case content-section">
    <div class="row">
        <h2 class="columns medium-12">
            应用案例<small>（如需了解项目详情，请联系我们：<a href="mailto:ai-bp@baidu.com">ai-bp@baidu.com</a>）</small>
        </h2>
    </div>
    <div class="row">
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>外卖出餐时间预测</h3>
            <p>百度外卖通过百度大脑机器学习平台训练预测模型，预测时间误差从12分钟降低到9分钟</p>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>用户个性化补贴方案</h3>
            <p>糯米通过大数据个性化补贴模型决策用户补贴方案，用同等运营成本更有效提升用户黏性</p>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>拍照翻译</h3>
            <p>结合文字识别和NLP技术，实现通过拍照即可识别物体上的文字，并翻译成目标语言</p>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>真人验证及实名认证</h3>
            <p>金融场景利用人脸及声纹识别技术多方位验证用户身份，自助完成真人实名认证</p>
        </div>
    </div>
</section>
{%include  'views/common/bottomInfo.html'%}
<script src="/dist/js/home.bundle.js"></script>

</body>
</html>