<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>机器学习-百度大脑</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="百度大脑,Baidu Brai,百度AI,百度大脑开放平台,机器学习">
    <meta name="description" content="机器学习，开放易用的深度学习训练平台，为各业务线大数据应用提供算法模型和训练支持">
    <link rel="icon" href="/internal/images/favicon.ico">
    <link rel="stylesheet" href="/internal/dist/css/machineLearning.css">
    {%include  'views/common/tongji.html'%}
</head>
<body>
{%include  'views/common/navigation.html'%}

<section class="callout large">
    <div class="row">
        <div class="foreground"></div>
        <div class="callout-content">
            <h1>机器学习</h1>
            <p class="lead">开放易用的深度学习训练平台，为各业务线大数据应用提供算法模型和训练支持</p>
            <a href="http://hetu.baidu.com/api/?categoryId=189" target="_blank" class="button start-button">平台接口 ></a>
        </div>
    </div>
</section>

<section class="tech-introduction content-section">
    <div class="row">
        <h2 class="columns medium-12">技术介绍</h2>
    </div>
    <div class="row">
        <div class="columns content-item" id="tech-intro-1">
            <div class="content-icon"></div>
            <h3>深度学习训练</h3>
            <p>支持多种模型(LR、DNN、CNN、RNN、LSTM、NTM)，支持序列学习，多种优化算法(SGD、LBFGS)</p>
            <div class="content-consult">
                <a href="mailto:ai-bp@baidu.com" class="button">技术咨询</a>
            </div>
        </div>
        <div class="columns content-item" id="tech-intro-2">
            <div class="content-icon"></div>
            <h3>模型预测和评估</h3>
            <p>模型预测结果多维度可视化评估，支持线下多语言(Python/C++)预测</p>
            <div class="content-consult">
                <a href="mailto:ai-bp@baidu.com" class="button">技术咨询</a>
            </div>
        </div>
        <div class="columns content-item" id="tech-intro-3">
            <div class="content-icon"></div>
            <h3>数据分析</h3>
            <p>支持特征有效性分析、特征权重分析等多种大规模数据可视化分析</p>
            <div class="content-consult">
                <a href="mailto:ai-bp@baidu.com" class="button">技术咨询</a>
            </div>
        </div>
        <div class="columns content-item" id="tech-intro-4">
            <div class="content-icon"></div>
            <h3>特征工程</h3>
            <p>支持特征预处理、Danova等快速有效的组合特征学习工具</p>
            <div class="content-consult">
                <a href="mailto:ai-bp@baidu.com" class="button">技术咨询</a>
            </div>
        </div>
    </div>
</section>
<section class="tech-advantage content-section">
    <div class="row">
        <h2 class="columns medium-12">技术优势</h2>
    </div>
    <div class="row">
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>算法多样性</h3>
            <p>广泛支持各种深度学习，机器学习算法，满足不同业务场景模型训练需求</p>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>大规模高性能</h3>
            <p>多机多GPU并发运算，支持海量级的数据，数十亿的参数规模，数百台机器的并发运算</p>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>灵活易用</h3>
            <p>可以灵活配置成熟模型或深度自定义网络连结方式，支持Web/API/SDK多种使用方式</p>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>持续迭代</h3>
            <p>5*8小时客服，持续优化迭代算法，提供专业的快速技术支持，提供源码开放，方便第三方接入</p>
        </div>
    </div>
</section>
<section class="user-case-carousel content-section">
    <div class="row">
        <h2 class="columns medium-12">应用案例</h2>
    </div>
    <div id="carousel-container"></div>
</section>
{%include  'views/common/bottomInfo.html'%}
<script src="/internal/dist/js/machineLearning.bundle.js"></script>

</body>
</html>