<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>百度大脑</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="百度大脑,机器学习,大数据,图像识别,语音识别">
    <link rel="icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../dist/css/machineLearning.css">
</head>
<body>
<nav class="top-bar">
    <div class="row">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="site-logo">
                    <img src="../images/ai-logo.png">
                </li>
                <li><a href="/home" id="home">首页</a></li>
                <li><a href="/machineLearning" id="machine-learning">机器学习</a></li>
                <li><a href="/speech" id="speech">语音技术</a></li>
                <li><a href="/image" id="image">图像技术</a></li>
                <li><a href="/naturalLanguage" id="natural-language">自然语言</a></li>
                <li><a href="/userProfile" id="user-profile">用户画像</a></li>
                <li><a href="/knowledgeGraph" id="knowledge-graph">知识图谱</a></li>
            </ul>
        </div>
        <div class="top-bar-links">
            <ul class="menu">
                <li><a href="/news">新闻动态</a></li>
                <li><a href="#contact-us">联系我们</a></li>
                <li><a href="/index">外部版</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="callout large">
    <div class="row">
        <div class="foreground"></div>
        <div class="callout-content">
            <h1>机器学习</h1>
            <p class="lead">开放易用的深度学习训练平台，为各业务线大数据应用提供算法模型和训练支持</p>
            <a href="http://hetu.baidu.com/api/?categoryId=189" target="_blank" class="button start-button">平台接口 ></a>
        </div>
    </div>
</section>

<section class="tech-introduction content-section">
    <div class="row">
        <h2 class="columns medium-12">技术介绍</h2>
    </div>
    <div class="row">
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>深度学习训练</h3>
            <p>支持多种模型(LR、DNN、CNN、RNN、LSTM、NTM)，支持序列学习，多种优化算法(SGD、LBFGS)</p>
            <div class="content-consult">
                <a href="mailto:ai@baidu.com" class="button">技术咨询</a>
            </div>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>模型预测和评估</h3>
            <p>模型预测结果结果多维度可视化评估支持线下多语言(Python/C++)预测</p>
            <div class="content-consult">
                <a href="mailto:ai@baidu.com" class="button">技术咨询</a>
            </div>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>数据分析</h3>
            <p>支持特征有效性分析、特征权重分析等多种大规模数据可视化分析</p>
            <div class="content-consult">
                <a href="mailto:ai@baidu.com" class="button">技术咨询</a>
            </div>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>特征工程</h3>
            <p>支持特征预处理、Danova等快速有效的组合特征学习工具</p>
            <div class="content-consult">
                <a href="mailto:ai@baidu.com" class="button">技术咨询</a>
            </div>
        </div>
    </div>
</section>
<section class="tech-advantage content-section">
    <div class="row">
        <h2 class="columns medium-12">技术优势</h2>
    </div>
    <div class="row">
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>算法多样性</h3>
            <p>广泛支持各种深度学习，机器学习算法，满足不同业务场景模型训练需求</p>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>大规模高性能</h3>
            <p>多机多GPU并发运算，支持海量级的数据，数十亿的参数规模，数百台机器的并发运算</p>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>灵活易用</h3>
            <p>可以灵活配置成熟模型或深度自定义网络连结方式，支持Web/Api/SDK多种使用方式</p>
        </div>
        <div class="columns content-item">
            <div class="content-icon"></div>
            <h3>持续迭代</h3>
            <p>5*8小时客服,持续优化迭代算法提供专业的快速技术支持,提供源码开放，方便第三方接入</p>
        </div>
    </div>
</section>
<section class="user-case-carousel content-section">
    <div class="row">
        <h2 class="columns medium-12">应用案例</h2>
    </div>
    <div id="carousel-container"></div>
</section>
<footer class="bottom-info">
    <div class="row">
        <ul id="contact-us">
            <li><h2>联系我们</h2></li>
            <li class="contact-hi">
                Hi群：<a href="baidu://addgroup/?id=10000">10000</a>
            </li>
            <li class="contact-email">
                邮件咨询：<a href="mailto:AI-bp@baidu.com">AI-bp@baidu.com</a>
            </li>
            <li class="contact-hetu">
                了解平台及接口：<a target="_blank" href="http://hetu.baidu.com/api/area/ai">河图AI专区</a>
            </li>
        </ul>
    </div>
    <hr>
    <div class="row">
        <ul class="platform-links">
            <li><a target="_blank" href="http://idl.baidu.com/">百度深度学习实验室</a></li>
            <li><a target="_blank" href="http://bdl.baidu.com/">百度大数据实验室</a></li>
            <li><a target="_blank" href="#">EasyDL机器学习平台</a></li>
            <li><a target="_blank" href="http://speech.baidu.com/">百度语音</a></li>
            <li><a target="_blank" href="http://bigdata.baidu.com/">百度大数据</a></li>
            <li><a target="_blank" href="http://idm.baidu.com/">ID-Mapping</a></li>
            <li><a target="_blank" href="http://session.baidu.com/">Global Session(Odin)</a></li>
            <li><a target="_blank" href="http://erised.baidu.com/">大数据用户画像</a></li>
        </ul>
        <div class="clearfix"></div>
        <ul class="platform-links">
            <li><a target="_blank" href="http://recsys.baidu.com/">Recsys推荐云平台</a></li>
            <li><a target="_blank" href="http://offlinedata.baidu.com/">到店大数据（谛听）</a></li>
            <li><a target="_blank" href="http://gravity.baidu.com/">大数据知识图谱</a></li>
        </ul>
    </div>
    <div class="row copyright">
        <p>© 2016 Baidu 使用百度前必读</p>
    </div>
</footer>
<script src="../dist/js/machineLearning.bundle.js"></script>

</body>
</html>