<section class="tech-section tech-banner">
    <div class="tech-banner-shape">
        <div class="ai-container">
            <div class="tech-banner-title">
                通用文字识别
            </div>
            <div class="tech-banner-info">
                <p>
                    基于业界领先的深度学习技术，依托全网海量优质数据为您提供多场景、多语种、高精度的整图文字检测和识别服务
                </p>
            </div>
            <div class="tech-banner-btn-list">
                <a role="button"
                   class="btn-primary-new media-new ai-redirect"
                   target="_blank"
                   href="https://console.bce.baidu.com/ai/?fromai=1#/ai/antiporn/overview/index">立即使用</a>
                <a role="button"
                   class="btn-primary-new media-new"
                   href="/docs#/ImageCensoring-API/top">技术文档</a>
            </div>
        </div>
    </div>
</section>

<section class="tech-section tech-tab">
    <ul class="tech-tab-list">
        <li class="tech-tab-item">
            <a href="javascript:;" class="tech-tab-text">通用文字识别</a>
        </li>
        <li class="tech-tab-item">
            <a href="javascript:;" class="tech-tab-text">含位置信息版</a>
        </li>
        <li class="tech-tab-item">
            <a href="javascript:;" class="tech-tab-text">含生僻字版</a>
        </li>
    </ul>
</section>


<div class="ocr-general-0 ocr-general">
    <section {%if $src eq Null%}
     class="tech-section tech-catalog"
     {%else%}
     class="tech-section tech-catalog tech-cloud"
     {%/if%}>
        <div class="ai-container">
            <div class="tech-catalog-title">功能简介</div>
            <div class="tech-catalog-info">
                支持多场景下的文字检测识别，多项ICDAR指标世界第一，支持中、英、葡萄牙、法、德、意大利、西班牙、俄、日、中英混合识别整体识别准确率高达90%以上
            </div>
            <div class="tech-function-detail tech-clear">
                <div class="tech-function-original-card"></div>
                <div class="tech-function-arrow"></div>
                <div class="tech-function-scan-result"></div>
            </div>
        </div>
    </section>

    <section class="tech-section tech-demo" id="tech-demo">
        <div class="ai-container">
            <div class="tech-demo-title">功能演示</div>
            <div class="demo-data">
                <label for="demo-photo-url" style="display:none"></label>
                <input type="text" id="demo-photo-url" placeholder="请输入网络图片URL">
                <button type="button" class="btn-primary" id="scan-photo">检测</button>
                <span>或</span>
                <label id="demo-photo-upload"><input type="file" >本地上传</label>
            </div>
            <p class="demo-desc">提示：可支持PNG、JPG、BMP图片文件，不支持GIF图片，图片大小不超过2M，长边不超过2048像素。为保证正常识别效果，请保证需要识别部分为图片主体部分。</p>
            <div class="demo-container clear-float">
                <div class="data-view" data-label="原始图片" id="demo-origin-general"></div>
                <div class="data-view" data-label="识别结果" id="demo-result">
                    <div class="result-background">
                        <table cellspacing="0">
                            <thead>
                                <tr>
                                    <th rowspan="2" class="result-index">编号</th>
                                    <th rowspan="2" class="result-connent">识别结果</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="data-view">
                    <ul class="demo-card-list clear-float">
                        <li>
                            <img src="../../../ai_images/technology/ocr-general/demo-card-1.png">
                        </li>
                        <li>
                            <img src="../../../ai_images/technology/ocr-general/demo-card-2.png">
                        </li>
                        <li>
                            <img src="../../../ai_images/technology/ocr-general/demo-card-3.png">
                        </li>
                        <li>
                            <img src="../../../ai_images/technology/ocr-general/demo-card-4.png">
                        </li>
                        <li>
                            <img src="../../../ai_images/technology/ocr-general/demo-card-5.png">
                        </li>
                        <li>
                            <img src="../../../ai_images/technology/ocr-general/demo-card-6.jpg">
                        </li>
                        <li>
                            <img src="../../../ai_images/technology/ocr-general/demo-card-7.png">
                        </li>
                        <li>
                            <img src="../../../ai_images/technology/ocr-general/demo-card-8.png">
                        </li>
                    </ul>
                </div>
                <div class="data-view" data-label="RESPONSE JSON" id="demo-json">
                    <p></p>
                </div>
            </div>
        </div>
    </section>

    <section class="tech-section tech-case">
        <div class="tech-case-title">应用场景</div>
        <div class="tech-case-list">
            <div class="tech-case-item">
                <div class="tech-case-desc">
                    <div class="tech-case-desc-title">通用自然场景</div>
                    <div class="tech-case-desc-info">
                        印刷文档识别，翻译文字识别，搜索识别，涂抹识别，街景识别，商品名称识别等通用自然场景下的文字识别
                    </div>
                    <div class="tech-case-serve-yes">
                        <span class="main-serve">主要服务:</span><a href="" class="bioassay">活体检测</a><a href="" class="face-contrast">人脸对比</a>
                    </div>
                    <hr class="tech-case-line">
                    <div class="tech-case-cooperation">
                        <span class="cooperation-case">合作案例:</span>
                        <span class="tech-case-cooperation-icon tech-case-cooperation-bdfy">百度翻译</span>
                        <span class="tech-case-cooperation-icon tech-case-cooperation-tsbj">涂书笔记</span>
                    </div>
                </div>
            </div>
            <div class="tech-case-item">
                <div class="tech-case-desc">
                    <div class="tech-case-desc-title">金融核身</div>
                    <div class="tech-case-desc-info">金融在线业务，用户真实性判断一直都是个棘手的问题，往往只能通过的比较传统的柜台业务辅助才可
                    </div>
                    <div class="tech-case-serve-yes">
                        <span class="main-serve">主要服务:</span><a href="" class="bioassay">活体检测</a><a href="" class="face-contrast">人脸对比</a>
                    </div>
                    <hr class="tech-case-line">
                    <div class="tech-case-cooperation">
                        <span class="cooperation-case">合作案例:</span>
                        <span class="tech-case-cooperation-icon tech-case-cooperation-bdh">百度Hi</span>
                    </div>
                </div>
            </div>
            <div class="tech-case-item">
                <div class="tech-case-desc">
                    <div class="tech-case-desc-title">金融核身</div>
                    <div class="tech-case-desc-info">金融在线业务，用户真实性判断一直都是个棘手的问题，往往只能通过的比较传统的柜台业务辅助才可，</div>
                    <div class="tech-case-serve-yes">
                        <span class="main-serve">主要服务:</span><a href="" class="bioassay">活体检测</a><a href="" class="face-contrast">人脸对比</a>
                    </div>
                    <hr class="tech-case-line">
                    <div class="tech-case-cooperation">
                        <span class="cooperation-case">合作案例:</span>
                        <span class="tech-case-cooperation-icon tech-case-cooperation-bdyl">百度医疗</span>
                    </div>
                </div>
            </div>
            <div class="tech-case-item">
                <div class="tech-case-desc">
                    <div class="tech-case-desc-title">金融核身</div>
                    <div class="tech-case-desc-info">金融在线业务，用户真实性判断一直都是个棘手的问题，往往只能通过的比较传统的柜台业务辅助才可，</div>
                    <div class="tech-case-serve-yes">
                        <span class="main-serve">主要服务:</span><a href="" class="bioassay">活体检测</a><a href="" class="face-contrast">人脸对比</a>
                    </div>
                    <hr class="tech-case-line">
                    <div class="tech-case-cooperation">
                        <span class="cooperation-case">合作案例:</span>
                        <span class="tech-case-cooperation-icon tech-case-cooperation-bdqb">百度钱包</span>
                    </div>
                </div>
            </div>
            <div class="tech-case-item">
                <div class="tech-case-desc">
                    <div class="tech-case-desc-title">金融核身</div>
                    <div class="tech-case-desc-info">金融在线业务，用户真实性判断一直都是个棘手的问题，往往只能通过的比较传统的柜台业务辅助才可，</div>
                    <div class="tech-case-serve-yes">
                        <span class="main-serve">主要服务:</span><a href="" class="bioassay">活体检测</a><a href="" class="face-contrast">人脸对比</a>
                    </div>
                    <hr class="tech-case-line">
                    <div class="tech-case-cooperation">
                        <span class="cooperation-case">合作案例:</span>
                        <span class="tech-case-cooperation-icon tech-case-cooperation-ks">快手</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="tech-section tech-price">
        <div class="ai-container">
            <div class="tech-price-title">
                产品定价
            </div>
            <div class="tech-price-info">
                本产品为按调用量计费的后付费产品，定价采取分段式阶定价方式<a href="#" class="tech-price-doc"><img src="../../../ai_images/technology/ocr-general/general/tech-price-doc.png" class="tech-price-doc-img"></a>
            </div>
            <div class="tech-price-detail">
                <img src="../../../ai_images/technology/ocr-general/general/price.png" class="tech-price-img">
                <div class="tech-price-desc">
                    <div class="tech-price-desc-left">
                        <div class="tech-price-desc-title">
                            付费配置
                        </div>
                        <p class="tech-price-desc-info">免费 : 超过免费配额  不响应请求  QPS限制  不保证并发</p>
                        <p class="tech-price-desc-info">付费 : 超过免费配额  响应请求     QPS限制  保证10次并发</p>
                        <div class="tech-price-desc-title">
                            调用失败
                        </div>
                        <p class="tech-price-desc-info">
                            含位置信息版任何调用失败均不计入调用次数，不产生任何费用
                        </p>
                    </div>

                    <div class="tech-price-desc-right">
                        <div class="tech-price-desc-title">
                            合作咨询
                        </div>
                        <p class="tech-price-desc-info">如果您有以下的需求或其他需求，您可以提交<a href="#" class="tech-price-desc-link">【合作咨询】</a></p>
                        <p class="tech-price-desc-info">1、如果您的调用量远大于最大的阶梯段，并需要更低的价格</p>
                        <p class="tech-price-desc-info">2、如果您需要更高的QPS／并发</p>
                        <p class="tech-price-desc-info">3、如果您有其他的OCR需求</p>
                        <p class="tech-price-desc-info">4、如果您对现有的接口／SDK／文档有任何的建议意见</p>
                    </div>
                </div>
                <div class="tech-price-btns">
                    <a href="" class="calc">价格计算</a>
                    <a href="" class="pay">开通付费</a>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="ocr-general-1 ocr-general">1</div>
<div class="ocr-general-2 ocr-general">2</div>
<!-- <div class="tech-section tech-function">
    <div class="ai-container">
        <div class="tech-function-title">
            功能介绍
        </div>
        <div class="tech-function-info">
            支持多场景下整图文字检测、定位、识别。支持任意场景、复杂背景、任意版面识别，支持10多种语言的识别<br>
            能准确定位并返回文字位置信息，方便客户进行二次处理
        </div>
        <div class="tech-function-detail tech-clear">
            <div class="tech-function-original-card-location"></div>
            <div class="tech-function-arrow-location"></div>
            <div class="tech-function-scan-result-location"></div>
        </div>
    </div>
</div>

<div class="tech-section tech-function">
    <div class="ai-container">
        <div class="tech-function-title">
            功能介绍
        </div>
        <div class="tech-function-info">
            支持多场景下针对常用字和生僻字的识别，2W+的字库比辞海收录的单字还多，能覆盖99%的文字场景<br>
            在图片文字清晰，小幅度倾斜，无明显背光等良好条件下，识别准确率高达90%
        </div>
        <div class="tech-function-detail tech-clear">
            <div class="tech-function-original-card"></div>
            <div class="tech-function-arrow"></div>
            <div class="tech-function-scan-result"></div>
        </div>
    </div>
</div> -->
